<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dash.entity.PenggunaMapper">
    <select id="getListUser" parameterType="java.util.Map" resultType="dash.model.User" >
        SELECT I_ID AS idPengguna, c_pgun_group as kodeGroup, c_pgun_otor as kodeOtoritas, i_peg_nrk as idNrk, trim(crypto16.DECRYPT (I_SANDI)) as idSandi,
        i_ip_address as ipAddress,i_idsekolah as idSekolah,n_email as namaEmail,n_hpno as noHp, c_hpno_aktif as kodeHpaktif,i_peg_nip as nipPengguna,n_peg as namaPengguna,
        n_peg_jabatan as jabatanPengguna,c_aktif as kodeAktif,i_idskpd as idSkpd

        FROM TRBKUSPENGGUNA
        WHERE 1=1
        <if test="kodeotoritas == 9 ">
            and c_pgun_otor in (0,1,2,3,8)
        </if>
        <if test="kodeotoritas == 8 ">
            and c_pgun_otor in (0,1,2)
        </if>
        <if test="kodeotoritas == 0 ">
            and i_idskpd = #{idskpd}
            and c_pgun_otor IN (1,2)
        </if>
        <if test="kodeotoritas == 1 ">
            and i_idsekolah = #{idsekolah}
            and c_pgun_otor = 2
                    union all
        SELECT a.I_ID AS idPengguna, a.c_pgun_group as kodeGroup, a.c_pgun_otor as kodeOtoritas, a.i_peg_nrk as idNrk, trim(crypto16.DECRYPT (a.I_SANDI)) as idSandi,
        a.i_ip_address as ipAddress,a.i_idsekolah as idSekolah,a.n_email as namaEmail,a.n_hpno as noHp, a.c_hpno_aktif as kodeHpaktif,a.i_peg_nip as nipPengguna,a.n_peg as namaPengguna,
        a.n_peg_jabatan as jabatanPengguna,a.c_aktif as kodeAktif,a.i_idskpd as idSkpd

        FROM TRBKUSPENGGUNA a,trbkuspenggunasekolah b
        where b.i_idsekolah= A.I_Idsekolah
        and b.i_idpengguna = #{idpa}
        and a.c_pgun_otor = 2

        </if>
    </select>
    <select id="getBanyakListUser" parameterType="java.util.Map"  resultType="java.lang.Integer">
        select count(*) from(SELECT I_ID AS idPengguna, c_pgun_group as kodeGroup, c_pgun_otor as kodeOtoritas, i_peg_nrk as idNrk, trim(crypto16.DECRYPT (I_SANDI)) as idSandi,
        i_ip_address as ipAddress,i_idsekolah as idSekolah,n_email as namaEmail,n_hpno as noHp, c_hpno_aktif as kodeHpaktif,i_peg_nip as nipPengguna,n_peg as namaPengguna,
        n_peg_jabatan as jabatanPengguna,c_aktif as kodeAktif,i_idskpd as idSkpd

        FROM TRBKUSPENGGUNA
        WHERE 1=1 and C_AKTIF = 1
        <if test="kodeotoritas == 0 ">
            and i_idskpd = #{idskpd}
            and c_pgun_otor IN (1,2)
        </if>
        <if test="kodeotoritas == 1 ">
            and i_idsekolah =#{idsekolah}
            and c_pgun_otor = 2
              union all
        SELECT a.I_ID AS idPengguna, a.c_pgun_group as kodeGroup, a.c_pgun_otor as kodeOtoritas, a.i_peg_nrk as idNrk, trim(crypto16.DECRYPT (a.I_SANDI)) as idSandi,
        a.i_ip_address as ipAddress,a.i_idsekolah as idSekolah,a.n_email as namaEmail,a.n_hpno as noHp, a.c_hpno_aktif as kodeHpaktif,a.i_peg_nip as nipPengguna,a.n_peg as namaPengguna,
        a.n_peg_jabatan as jabatanPengguna,a.c_aktif as kodeAktif,a.i_idskpd as idSkpd

        FROM TRBKUSPENGGUNA a,trbkuspenggunasekolah b
        where b.i_idsekolah= A.I_Idsekolah
        and b.i_idpengguna = #{idpa}
        and a.c_pgun_otor = 2

        </if>
        )
    </select>
     <insert id="insertUser" parameterType="dash.model.User">
        INSERT INTO TRBKUSPENGGUNA (
        I_ID
        ,C_PGUN_GROUP
        ,C_PGUN_OTOR
        ,I_PEG_NRK
        ,I_SANDI
        ,I_IP_ADDRESS
        <if test="kodeOtoritas != 0 ">
            ,I_IDSEKOLAH
        </if>
        ,N_EMAIL
        ,N_HPNO
        ,C_HPNO_AKTIF
        ,I_PEG_NIP
        ,N_PEG
        ,N_PEG_JABATAN
        ,C_AKTIF
        ,I_IDSKPD
        ,I_PGUN_REKAM
        ,D_PGUN_REKAM
        )
        VALUES (
        #{idPengguna}
        ,#{kodeGroup}
        ,#{kodeOtoritas}
        ,#{idNrk}
        ,crypto16.ENCRYPT(#{idSandi})
        ,#{ipAddress}
        <if test="kodeOtoritas != 0 ">
            ,#{idSekolah}
        </if>
        ,#{namaEmail}
        ,#{noHp}
        ,0
        ,#{nipPengguna}
        ,#{namaPengguna}
        ,#{jabatanPengguna}
        ,#{kodeAktif}
        ,#{idSkpd}
        ,#{idEntry}
        ,SYSDATE
        )
    </insert>
    <select id="getPenggunaById"  parameterType="java.lang.Integer" resultType="dash.model.User" >
  SELECT I_ID AS idPengguna, c_pgun_group as kodeGroup, c_pgun_otor as kodeOtoritas, i_peg_nrk as idNrk, trim(crypto16.DECRYPT (I_SANDI)) as idSandi,
        i_ip_address as ipAddress,i_idsekolah as idSekolah,n_email as namaEmail,n_hpno as noHp, c_hpno_aktif as kodeHpaktif,i_peg_nip as nipPengguna,n_peg as namaPengguna,
        n_peg_jabatan as jabatanPengguna,c_aktif as kodeAktif,i_idskpd as idSkpd

        FROM TRBKUSPENGGUNA
        where i_id = #{id}
    </select>
    <update id="updateUser" parameterType="dash.model.User"    >
        UPDATE TRBKUSPENGGUNA
        SET C_PGUN_GROUP = #{kodeGroup}
        ,C_PGUN_OTOR = #{kodeOtoritas}
        ,I_PEG_NRK = #{idNrk}
        ,I_SANDI = crypto16.ENCRYPT(#{idSandi})
        ,I_IP_ADDRESS = #{ipAddress}
        <if test="kodeOtoritas != 0 ">
            ,I_IDSEKOLAH =#{idSekolah}
        </if>
        ,N_EMAIL = #{namaEmail}
        ,N_HPNO = #{noHp}
        ,C_HPNO_AKTIF = 0
        ,I_PEG_NIP =#{nipPengguna}
        ,N_PEG = #{namaPengguna}
        ,N_PEG_JABATAN  =#{jabatanPengguna}
        ,C_AKTIF  =#{kodeAktif}
        ,I_IDSKPD  =#{idSkpd}
        ,I_PGUN_UBAH = #{idEdit}
        ,D_PGUN_UBAH = SYSDATE


        WHERE I_ID = #{idPengguna}
    </update>

     <delete id="deleteUser" parameterType="dash.model.User" >
        DELETE FROM TRBKUSPENGGUNA WHERE I_ID = #{idPengguna}
    </delete>
    <select id="getMaxDepag" resultType='java.util.Map'>
        select replace(('NRK'||to_char(max(substr(i_peg_nrk,4)+1),'000')),' ','') as nrkBaru
        from trbkuspengguna where i_peg_nrk like '%NRK%'
    </select>
    <!--insert id="insertUserSkpd" parameterType="adm.model.User"   >
        INSERT INTO TMPENGGUNASKPD (
        I_IDPENGGUNA
        ,I_IDSKPD
        ,C_AKTIF
        ,I_PGUN_REKAM
        ,D_PGUN_REKAM
        )
        VALUES (
        #{id}, <choose>
            <when test="idSkpd != null ">
                #{idSkpd}
            </when>
            <otherwise>
                0
            </otherwise>
        </choose>
        ,#{kodeAktif}
        ,#{idEntry}
        ,SYSDATE
        )
    </insert>

    <delete id="deleteUserSkpd" parameterType="adm.model.User" >
        DELETE FROM TMPENGGUNASKPD WHERE I_IDPENGGUNA = #{id}
    </delete>
    <delete id="deleteUser" parameterType="adm.model.User" >
        DELETE FROM TMPENGGUNA WHERE I_ID = #{id}
    </delete>
    <select id="getUserById" parameterType="java.lang.Integer"  resultType="adm.model.User">
        SELECT a.I_ID as id,
        a.C_PGUN_GROUP as kodeGrup,
        a.I_PGUN as userName,
        a.I_SANDI as userPassword,
        a.I_IDSKPD as idSkpd,
        a.C_WIL_SP2DPROSES as kodeWilayahProses,
        a.I_IDPNRMLOKET as idNomorLoket,
        a.I_IP_ADDRESS as ipAddress,
        a.N_EMAIL as userEmail,
        a.I_NIP_PEG as userNipPeg,
        a.I_NRK_PEG as userNrkPeg,
        a.N_PEG as userNamaPeg,
        a.C_AKTIF as kodeAktif,
        S.C_SKPD as "skpd.kodeSkpd",
        S.N_SKPD as "skpd.namaSkpd",
        a.I_IDSKPD as "skpd.idSkpd"
        FROM TMPENGGUNA a
        left join trskpd s on S.I_ID = A.I_IDSKPD
        where A.I_ID = #{id}
    </select>-->
</mapper>
