<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dash.entity.UbahPasswordMapper">

    <update id="updatePass" parameterType="dash.model.LoginForm"   >
        update TRBKUSPENGGUNA
        SET i_sandi5 = i_sandi4,
        i_sandi4 = i_sandi3,
        i_sandi3 = i_sandi2,
        i_sandi2 = i_sandi1,
        i_sandi1 = i_sandi,
        i_sandi = crypto16.ENCRYPT(#{passwordBaru}),
        I_PGUN_UBAH = #{idEntry},
        D_PGUN_UBAH = sysdate,
        Q_SANDI_ERROR = 0,
        d_sandi_expired = to_char(sysdate+40, 'yyyymmdd'),
        c_lock = 0 
        where I_PEG_NRK = #{username}

    </update>
    <select id="checkPassword" parameterType="dash.model.LoginForm" resultType="java.lang.Integer">
        select 1 from trbkuspengguna where i_peg_nrk = #{username}
        and crypto16.decrypt(nvl(i_sandi,0)) != #{passwordBaru}
        and crypto16.decrypt(nvl(i_sandi1,0)) != #{passwordBaru}
        and crypto16.decrypt(nvl(i_sandi2,0)) != #{passwordBaru}
        and crypto16.decrypt(nvl(i_sandi3,0)) != #{passwordBaru}
        and crypto16.decrypt(nvl(i_sandi4,0)) != #{passwordBaru}
        and crypto16.decrypt(nvl(i_sandi5,0)) != #{passwordBaru}
    </select>
</mapper>