<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eset.entity.UbahPasswordMapper">
    
    <update id="updatePass" parameterType="eset.model.LoginForm"   >
        update tmpengguna 
        set I_SANDI = crypto16.ENCRYPT(#{passwordBaru}),
        I_PGUN_UBAH = #{idEntry},
        D_PGUN_UBAH = sysdate
        where i_pgun = #{username}
        
    </update>
    
</mapper>