<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spj.entity.ListSkpdMapper">
    
   <select id="getBanyakAllSkpd" parameterType="java.util.Map"  resultType="java.lang.Integer">
        SELECT   count(*) as banyak
        FROM (SELECT   DISTINCT
        trskpd.i_id  ,
        trskpd.C_SKPD  ,
        trskpd.N_SKPD  
        FROM   trskpd 
        WHERE  1=1 and C_AKTIF = 1
        <if test="skpd != null and skpd != '' ">
            and upper(TRSKPD.N_SKPD) like '%'||upper(#{skpd})||'%'
        </if>     
        )
    </select>
    
    <select id="getAllSkpd" parameterType="java.util.Map"  resultType="spp.model.Skpd">
        SELECT    i_id as idSkpd,C_SKPD as kodeSkpd,N_SKPD as namaSkpd
        FROM   (SELECT   ROWNUM AS rn, a.*
        FROM   (  SELECT   DISTINCT
        trskpd.i_id  ,
        trskpd.C_SKPD  ,
        trskpd.N_SKPD  
        FROM   trskpd 
        WHERE  1=1 and C_AKTIF = 1
        <if test="skpd != null and skpd != '' ">
            and upper(TRSKPD.N_SKPD) like '%'||upper(#{skpd})||'%'
        </if>
        
        <if test="kodeskpd != null and kodeskpd != '' ">
            and upper(TRSKPD.C_SKPD) like '%'||upper(#{kodeskpd})||'%'
        </if>    
          
        ORDER BY 
        <choose>
            <when test="iSortCol_0 == 0 ">
                trskpd.i_id
            </when>
            <when test="iSortCol_0 == 1 ">
                trskpd.C_SKPD
            </when>
            <when test="iSortCol_0 == 2 ">
                trskpd.N_SKPD
            </when>
            <otherwise>
                trskpd.i_id  
            </otherwise>
        </choose>
        <choose>
            <when test="sSortDir_0 == 'desc' ">
                desc
            </when>
            <otherwise> 
                asc
            </otherwise>
        </choose>                
        ) a)
        WHERE   ROWNUM &lt;= #{limit} AND rn &gt; #{offset}
    </select>
    
    <select id="getBanyakSkpdwithID1" parameterType="java.util.Map"  resultType="java.lang.Integer">
        SELECT   count(*) as banyak
        FROM (SELECT   DISTINCT
        trskpd.i_id  ,
        trskpd.C_SKPD  ,
        trskpd.N_SKPD  
        FROM   trskpd 
        WHERE  1=1 and C_AKTIF = 1 or i_id = 1
        <if test="skpd != null and skpd != '' ">
            and upper(TRSKPD.N_SKPD) like '%'||upper(#{skpd})||'%'
        </if>     
        )
    </select>
    
    <select id="getSkpdwithID1" parameterType="java.util.Map"  resultType="spp.model.Skpd">
        SELECT    i_id as idSkpd,C_SKPD as kodeSkpd,N_SKPD as namaSkpd
        FROM   (SELECT   ROWNUM AS rn, a.*
        FROM   (  SELECT   DISTINCT
        trskpd.i_id  ,
        trskpd.C_SKPD  ,
        trskpd.N_SKPD  
        FROM   trskpd 
        WHERE  1=1 and C_AKTIF = 1 or i_id = 1
        <if test="skpd != null and skpd != '' ">
            and upper(TRSKPD.N_SKPD) like '%'||upper(#{skpd})||'%'
        </if>
        
        <if test="kodeskpd != null and kodeskpd != '' ">
            and upper(TRSKPD.C_SKPD) like '%'||upper(#{kodeskpd})||'%'
        </if>    
          
        ORDER BY 
        <choose>
            <when test="iSortCol_0 == 0 ">
                trskpd.i_id
            </when>
            <when test="iSortCol_0 == 1 ">
                trskpd.C_SKPD
            </when>
            <when test="iSortCol_0 == 2 ">
                trskpd.N_SKPD
            </when>
            <otherwise>
                trskpd.i_id  
            </otherwise>
        </choose>
        <choose>
            <when test="sSortDir_0 == 'desc' ">
                desc
            </when>
            <otherwise> 
                asc
            </otherwise>
        </choose>                
        ) a)
        WHERE   ROWNUM &lt;= #{limit} AND rn &gt; #{offset}
    </select>
    
</mapper>