<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sp2d.entity.Sp2dBantuanLsMapper">
    <select id="getSp2dBantuanLs" parameterType="java.util.Map"  resultType="spp.model.Sp2dLs">
        SELECT  i_idskpdKOORD as "skpd.idSkpdkoord",
        c_skpd as "skpd.kodeSkpd",
        n_skpd as "skpd.namaSkpd",        
        i_idspp as idSpp,
        i_idspm as idspm,
        i_spmno as noSpm,
        d_spmno as tglSpm,
        e_spm as keteranganSpm,
        i_sp2dno as noSp2d,
        d_sp2dno as tanggalSp2d,
        v_sp2d as nilaiSp2d,
        STATUS as status,
        nvl((select N_PEG_TERIMAKPKD from tmspmcetak where i_id = xxxx.i_idspm ),'BELUM ADA') as  terimaSpm
        FROM   (SELECT   ROWNUM AS rn, a.*
        FROM   (
        SELECT   tmspprincibtlBANTUAN.I_IDSKPDKOORD AS i_idskpdKOORD,
        c_skpd,
        n_skpd,
        tmspm.i_idspp,
        tmspm.i_id AS i_idspm,
        tmspm.i_spmno,
        TO_CHAR (tmspm.d_spmno, 'dd-mm-yyyy') AS d_spmno,
        tmspm.e_spm,
        NULL AS i_sp2dno,
        NULL AS d_sp2dno,
        (SELECT   NVL (SUM (v_spp), 0)
        FROM   tmspprincibtlBANTUAN
        WHERE   tmspprincibtlBANTUAN.i_idspp = tmspm.i_idspp
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD =#{idskpd})
        AS v_sp2d,
        NULL AS STATUS
        FROM   tmspp, tmspm, tmspmcetak, tmspprincibtlBANTUAN, trskpd 
        WHERE  tmspp.i_id = tmspm.i_idspp
        and tmspprincibtlBANTUAN.i_idspp = tmspp.i_id
        AND tmspprincibtlBANTUAN.i_idspp = tmspm.i_idspp
        AND tmspm.i_id = tmspmcetak.i_id
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD = trskpd.i_id 
        AND tmspp.c_jenis = '2'                   
        AND tmspp.c_beban = 'LS'                      
        AND tmspm.c_angg_tahun = #{tahun}     
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD =#{idskpd}                
        AND NOT EXISTS
        (SELECT   1
        FROM   tmsp2d
        WHERE   tmsp2d.i_idspm = tmspm.i_id)
        and D_SPM_TERIMAKPKD is not null
        and D_PGUN_TERIMA is not null
        
        UNION ALL
        SELECT    tmspprincibtlBANTUAN.I_IDSKPDKOORD,
        c_skpd,
        n_skpd,
        tmspm.i_idspp,
        tmspm.i_id AS i_idspm,
        tmspm.i_spmno,
        TO_CHAR (tmspm.d_spmno, 'dd-mm-yyyy') AS d_spmno,
        tmspm.e_spm,
        i_sp2dno,
        TO_CHAR (d_sp2dno, 'dd-mm-yyyy') AS d_sp2dno,
        (SELECT   NVL (SUM (v_spp), 0)
        FROM   tmspprincibtlBANTUAN 
        WHERE   tmspprincibtlBANTUAN.i_idspp = tmspm.i_idspp)
        AS v_sp2d,
        'PENGAJUAN' AS STATUS
        FROM   tmspp,         tmspm,         tmspmcetak, tmspprincibtlBANTUAN,
        tmsp2d, trskpd
        WHERE       tmspp.i_id = tmspm.i_idspp
        and tmspprincibtlBANTUAN.i_idspp = tmspp.i_id
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD = trskpd.i_id
        AND tmspm.i_id = tmspmcetak.i_id
        AND tmsp2d.i_idspm = tmspm.i_id
        AND tmspp.c_jenis = '2'                    
        AND tmspp.c_beban = 'LS'                     
        AND tmsp2d.C_SP2D_CETAK = '0'
        and tmsp2d.C_SP2D_CETAKPOT = '0'
        and tmsp2d.C_SP2D_SAH = '0'
        AND tmspm.c_angg_tahun = #{tahun}
        AND tmsp2d.C_WIL_SP2DPROSES = #{wilproses}
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD =#{idskpd}
        ) a)
        xxxx
        WHERE   ROWNUM &lt;= #{limit} AND rn &gt; #{offset}
    </select>
    
    <select id="getCountSp2dBantuanLs" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) as banyak from(
        SELECT   tmspprincibtlBANTUAN.I_IDSKPDKOORD AS i_idskpdKOORD,
        c_skpd,
        n_skpd,
        tmspm.i_idspp,
        tmspm.i_id AS i_idspm,
        tmspm.i_spmno,
        TO_CHAR (tmspm.d_spmno, 'dd-mm-yyyy') AS d_spmno,
        tmspm.e_spm,
        NULL AS i_sp2dno,
        NULL AS d_sp2dno,
        (SELECT   NVL (SUM (v_spp), 0)
        FROM   tmspprincibtlBANTUAN
        WHERE   tmspprincibtlBANTUAN.i_idspp = tmspm.i_idspp
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD =#{idskpd})
        AS v_sp2d,
        NULL AS STATUS
        FROM   tmspp, tmspm, tmspmcetak, tmspprincibtlBANTUAN, trskpd 
        WHERE  tmspp.i_id = tmspm.i_idspp
        and tmspprincibtlBANTUAN.i_idspp = tmspp.i_id
        AND tmspprincibtlBANTUAN.i_idspp = tmspm.i_idspp
        AND tmspm.i_id = tmspmcetak.i_id
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD = trskpd.i_id 
        AND tmspp.c_jenis = '2'                   
        AND tmspp.c_beban = 'LS'                      
        AND tmspm.c_angg_tahun = #{tahun}     
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD =#{idskpd}                
        AND NOT EXISTS
        (SELECT   1
        FROM   tmsp2d
        WHERE   tmsp2d.i_idspm = tmspm.i_id)
        and D_SPM_TERIMAKPKD is not null
        and D_PGUN_TERIMA is not null
        
        UNION ALL
        SELECT    tmspprincibtlBANTUAN.I_IDSKPDKOORD,
        c_skpd,
        n_skpd,
        tmspm.i_idspp,
        tmspm.i_id AS i_idspm,
        tmspm.i_spmno,
        TO_CHAR (tmspm.d_spmno, 'dd-mm-yyyy') AS d_spmno,
        tmspm.e_spm,
        i_sp2dno,
        TO_CHAR (d_sp2dno, 'dd-mm-yyyy') AS d_sp2dno,
        (SELECT   NVL (SUM (v_spp), 0)
        FROM   tmspprincibtlBANTUAN 
        WHERE   tmspprincibtlBANTUAN.i_idspp = tmspm.i_idspp)
        AS v_sp2d,
        'PENGAJUAN' AS STATUS
        FROM   tmspp,         tmspm,         tmspmcetak, tmspprincibtlBANTUAN,
        tmsp2d, trskpd
        WHERE       tmspp.i_id = tmspm.i_idspp
        and tmspprincibtlBANTUAN.i_idspp = tmspp.i_id
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD = trskpd.i_id
        AND tmspm.i_id = tmspmcetak.i_id
        AND tmsp2d.i_idspm = tmspm.i_id
        AND tmspp.c_jenis = '2'                    
        AND tmspp.c_beban = 'LS'                     
        AND tmsp2d.C_SP2D_CETAK = '0'
        and tmsp2d.C_SP2D_CETAKPOT = '0'
        and tmsp2d.C_SP2D_SAH = '0'
        AND tmspm.c_angg_tahun = #{tahun}
        AND tmsp2d.C_WIL_SP2DPROSES = #{wilproses}
        and tmspprincibtlBANTUAN.I_IDSKPDKOORD =#{idskpd}
        )
       
    </select>
    <select id="getSp2dBantuanLsById" parameterType="java.util.Map"  resultType="spp.model.Sp2dLs">
        SELECT   
        TMSP2D.I_ID AS id,
        TMSPM.I_ID AS idspm,
        TMSPM.I_IDSPP AS idSpp,
        TMSPM.I_IDSKPD AS "skpd.idSkpd",
        trskpd.C_SKPD AS "skpd.kodeSkpd",
        trskpd.c_skpd || ' - ' || trskpd.n_skpd AS "skpd.namaSkpd",
        tmspprincibtlBANTUAN.I_IDSKPDKOORD AS "skpd.idSkpdKoord",
        trskpd2.C_SKPD AS "skpd.kodeSkpdkoord",
        trskpd2.N_SKPD AS "skpd.namaSkpdkoord",
        tmspm.i_spmno AS "noSpm",
        TO_CHAR (tmspm.d_spmno, 'dd-mm-yyyy') AS tglSpm,
        TMSPM.C_ANGG_TAHUN AS tahun,
        TMSP2D.I_SP2DNO AS noSp2d,
        TO_CHAR (TMSP2D.D_SP2DNO, 'dd-mm-yyyy') AS tanggalSp2d,
        TMSP2D.C_WIL_SP2DPROSES AS kodeWilayah,
        TMSP2D. I_NIP_PA AS nipPenggunaAnggaran,
        TMDPA.I_NRK_PA AS nrkPenggunaAnggaran,
        TMDPA.N_PA AS namaPenggunaAnggaran,
        TMSP2D.I_NIP_KBUD AS nipKbud,
        TMSP2D.N_KBUD AS namaKbud,
        ( select sum(tmspprincibtlBANTUAN.V_SPP) from tmspprincibtlBANTUAN 
        where tmspprincibtlBANTUAN.      i_idspp  =TMSPM.I_IDSPP ) as nilaiSp2d
        FROM    TMSPM left join   TMSP2D on  TMSPM.I_ID = tmsp2d.I_IDSPM
        inner join tmspprincibtlBANTUAN on  tmspprincibtlBANTUAN.I_IDSPP =TMSPM.I_IDspp
        inner join TRSKPD trskpd2 on tmspprincibtlBANTUAN.I_IDSKPDKOORD =  TRSKPD2.I_ID
        inner join TMDPA on  TMSPM.I_IDSKPD = TMDPA.I_IDSKPD AND  TMSPM.C_ANGG_TAHUN =  TMDPA.C_ANGG_TAHUN
        inner join TRSKPD  on TMSPM.I_IDSKPD =  TRSKPD.I_ID  
        WHERE  TMSPM.C_ANGG_TAHUN = #{tahun}
        and TMSPM.I_ID = #{idspm}
        AND TMSPM.I_IDSPP = #{idspp}
    </select>
    <select id="getHariKerjaSp2d"   parameterType="java.sql.Date" resultType="spp.model.HariKerja">
        SELECT   TO_CHAR (D_REKAM, 'dd-mm-yyyy') as tglRekam,
        TO_CHAR (D_APPROVE, 'dd-mm-yyyy') AS tglApprove,
        TO_CHAR(D_CETAK,'dd-mm-yyyy') AS tglCetak,
        TO_CHAR(D_SAH, 'dd-mm-yyyy') AS tglSah
        FROM   TRHARIKERJA T
        WHERE C_DOK = 'SP2D'
        AND TO_CHAR(D_HARI_KERJA,'dd/mm/yyyy') = TO_CHAR(sysdate ,'dd/mm/yyyy')
    </select>
    <select id="getCountHariKerjaSp2d"   parameterType="java.sql.Date" resultType="java.lang.Integer">
        select count(*) as banyakhari from(
        SELECT   TO_CHAR (D_REKAM, 'dd-mm-yyyy') as tglRekam,
        TO_CHAR (D_APPROVE, 'dd-mm-yyyy') AS tglApprove,
        TO_CHAR(D_CETAK,'dd-mm-yyyy') AS tglCetak,
        TO_CHAR(D_SAH, 'dd-mm-yyyy') AS tglSah
        FROM   TRHARIKERJA T
        WHERE C_DOK = 'SP2D'
        AND TO_CHAR(D_HARI_KERJA,'dd/mm/yyyy') = TO_CHAR(sysdate ,'dd/mm/yyyy')
        )
    </select>
    <select id="getSp2dRinciBantuanLs" parameterType="java.util.Map"  resultType="spp.model.Sp2dLs"> 
        SELECT   I_IDSPD AS idSpd,
        i_idspp AS idSpp,
        v_spp as nilaiSp2d,
        v_spp as nilaiSpm,
        C_KEGIATAN as "kegiatan.kodeKegiatan",
        N_KEGIATAN as "kegiatan.namaKegiatan",
        C_AKUN AS "akun.kodeAkun",
        N_AKUN AS "akun.namaAkun",V_ANGG_TAPD as nilaiAnggaran
        FROM   (SELECT   ROWNUM AS rn, a.*
        FROM   (SELECT   DISTINCT
        (TMSPPRINCIBTLBANTUAN.I_IDSPD) AS I_IDSPD,
        TMSPPRINCIBTLBANTUAN.i_idspp,
        v_spp ,
        BANTUAN.C_KEGIATAN,
        BANTUAN.N_KEGIATAN  || '' || BANTUAN.A_KEGIATAN as N_KEGIATAN,
        BAS.C_AKUN,
        BAS.N_AKUN,BANTUAN.V_ANGG_TAPD
        FROM   TMSPPRINCIBTLBANTUAN,
        TMSPP,
        TMSPD,
        TMSPDRINCIBTLBANTUAN L,
        TMDPABTLBANTUAN bantuan,
        TRBAS BAS
        WHERE       TMSPPRINCIBTLBANTUAN.i_idspp = #{idspp}
        AND TMSPPRINCIBTLBANTUAN.I_IDSKPDKOORD = #{idskpdkoord}
        AND L.I_IDSPD = TMSPPRINCIBTLBANTUAN.I_IDSPD
        AND BANTUAN.I_ID = L.I_IDBTLBANTUAN
        AND tmspp.i_id = TMSPPRINCIBTLBANTUAN.i_idspp
        AND TMSPP.C_BEBAN = 'LS'
        AND TMSPP.C_JENIS = '2'
        AND BAS.I_ID = L.I_IDBAS
        AND TMSPPRINCIBTLBANTUAN.I_IDBAS= L.I_IDBAS
        AND TMSPPRINCIBTLBANTUAN.I_IDBTLBANTUAN= L.I_IDBTLBANTUAN  
        ) a) xxx
    </select>
    
    <select id="getCountSp2dRinciBantuanLs" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT  COUNT( *) FROM
        (SELECT   ROWNUM AS rn, a.*
        FROM   (SELECT   DISTINCT
        (TMSPPRINCIBTLBANTUAN.I_IDSPD) AS I_IDSPD,
        TMSPPRINCIBTLBANTUAN.i_idspp,
        v_spp AS nilai_sp2d,
        BANTUAN.C_KEGIATAN,
        BANTUAN.N_KEGIATAN  || '' || BANTUAN.A_KEGIATAN as N_KEGIATAN,
        BAS.C_AKUN,
        BAS.N_AKUN
        FROM   TMSPPRINCIBTLBANTUAN,
        TMSPP,
        TMSPD,
        TMSPDRINCIBTLBANTUAN L,
        TMDPABTLBANTUAN bantuan,
        TRBAS BAS
        WHERE       TMSPPRINCIBTLBANTUAN.i_idspp = #{idspp}
        AND TMSPPRINCIBTLBANTUAN.I_IDSKPDKOORD = #{idskpdkoord} 
        AND L.I_IDSPD = TMSPPRINCIBTLBANTUAN.I_IDSPD
        AND BANTUAN.I_ID = L.I_IDBTLBANTUAN
        AND tmspp.i_id = TMSPPRINCIBTLBANTUAN.i_idspp
        AND TMSPP.C_BEBAN = 'LS'
        AND TMSPP.C_JENIS = '2'
        AND BAS.I_ID = L.I_IDBAS
        AND TMSPPRINCIBTLBANTUAN.I_IDBAS= L.I_IDBAS
        AND TMSPPRINCIBTLBANTUAN.I_IDBTLBANTUAN= L.I_IDBTLBANTUAN 
        ) a)
    </select>
    
    <select id="getKbud" parameterType="java.util.Map"  resultType="spp.model.Sp2dLs">
        select c_dok_tt as kodeDokTT, i_nip_kbud as nipKbud,i_nrk_kbud as nrkKbud, n_kbud as namaKbud from TRDOKSP2DTT
        where c_dok ='SP2D'
        AND C_DOK_PLH &lt; &gt; '1' 
        and  TRDOKSP2DTT.C_WIL_SP2DPROSES = #{kodewilayah}
        UNION ALL
        select c_dok_tt, i_nip_PLHkbud ,i_nrk_PLHkbud, n_PLHkbud from TRDOKSP2DTT
        where c_dok ='SP2D'
        AND C_DOK_PLH = '1' 
        and  TRDOKSP2DTT.C_WIL_SP2DPROSES = #{kodewilayah}
    </select>
    
    <select id="getCountKbud" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) as banyak from(       
        select c_dok_tt, i_nip_kbud ,i_nrk_kbud, n_kbud from TRDOKSP2DTT
        where c_dok ='SP2D'
        AND C_DOK_PLH &lt; &gt; '1' 
        and  TRDOKSP2DTT.C_WIL_SP2DPROSES = #{kodewilayah}
        UNION ALL
        select c_dok_tt, i_nip_PLHkbud ,i_nrk_PLHkbud, n_PLHkbud from TRDOKSP2DTT
        where c_dok ='SP2D'
        AND C_DOK_PLH = '1' 
        and  TRDOKSP2DTT.C_WIL_SP2DPROSES = #{kodewilayah}
        )
    </select>
    <select id="getSkpdById" parameterType="java.lang.Integer" resultType="spp.model.Skpd">
        SELECT   I_ID as idSkpd,
        C_SKPD as kodeSkpd,
        N_SKPD as namaSkpd
        FROM   TRSKPD
        WHERE I_ID = #{value}
    </select>
    <insert id="insertSp2dBantuanLs" parameterType="spp.model.Sp2dLs">
        INSERT INTO TMSP2D (
        I_ID, 
        I_IDSPM, 
        I_IDSPP, 
        C_ANGG_TAHUN, 
        I_SP2DNO, 
        D_SP2DNO, 
        C_WIL_SP2DPROSES, 
        N_WIL_SP2DPROSES, 
        I_IDSKPD, 
        I_NIP_PA, 
        I_NRK_PA, 
        N_PA, 
        I_NIP_KBUD, 
        N_KBUD, 
        C_SP2D_CETAK, 
        C_SP2D_CETAKPOT, 
        C_SP2D_SAH, 
        V_SP2D, 
        V_SPP,
        I_PGUN_REKAM, 
        D_PGUN_REKAM) 
        VALUES (
        SEQ_TMSP2D.NEXTVAL,
        #{idspm},
        #{idSpp},
        #{tahun},
        #{noSp2d},
        #{tglsp2d},
        #{kodeWilayah},
        (CASE #{kodeWilayah}
        WHEN '0' THEN 'PROVINSI'
        WHEN '1' THEN 'PUSAT'
        WHEN '2' THEN 'UTARA'
        WHEN '3' THEN 'BARAT'
        WHEN '4' THEN 'SELATAN'
        WHEN '5' THEN 'TIMUR'
        WHEN '6' THEN 'P. SERIBU'
        WHEN '7' THEN 'BALAIKOTA'
        ELSE ''
        END),
        #{skpd.idSkpd},
        #{nipPenggunaAnggaran},
        #{nrkPenggunaAnggaran},
        #{namaPenggunaAnggaran},
        #{nipKbud},
        #{namaKbud},
        '0',
        '0',
        '0',
        round(#{nilaiSp2d},0),
        round(#{nilaiSp2d},0),
        #{idEntry},
        #{tglEntry}
        )
    </insert>
    <select id="getSp2dBantuanLsByIdSp2d" parameterType="java.util.Map" resultType="spp.model.Sp2dLs">
        SELECT   
        T.I_ID AS id,
        T.I_IDSPM AS idspm,
        T.I_IDSPP AS idSpp,
        T.I_IDSKPD AS "skpd.idSkpd",
        trskpd.C_SKPD AS "skpd.kodeSkpd",
        trskpd.c_skpd || ' - ' || trskpd.n_skpd  AS "skpd.namaSkpd",
        tmspprincibtlBANTUAN.I_IDSKPDKOORD AS "skpd.idSkpdKoord",
        trskpd2.C_SKPD AS "skpd.kodeSkpdkoord",
        trskpd2.N_SKPD AS "skpd.namaSkpdkoord",
        tmspm.i_spmno AS "noSpm",
        TO_CHAR (tmspm.d_spmno, 'dd-mm-yyyy') AS tglSpm,
        T.C_ANGG_TAHUN AS tahun,
        T.I_SP2DNO AS noSp2d,
        TO_CHAR (T.D_SP2DNO, 'dd-mm-yyyy') AS tanggalSp2d,
        T.C_WIL_SP2DPROSES AS kodeWilayah,
        T.I_NIP_PA AS nipPenggunaAnggaran,
        T.I_NRK_PA AS nrkPenggunaAnggaran,
        T.N_PA AS namaPenggunaAnggaran,
        T.I_NIP_KBUD AS nipKbud,
        T.N_KBUD AS namaKbud,
        tmdpabtlbantuan.C_KEGIATAN as "kegiatan.kodeKegiatan",
        tmdpabtlbantuan.N_KEGIATAN  || '' || tmdpabtlbantuan.A_KEGIATAN as "kegiatan.namaKegiatan",
        tmdpabtlbantuan.V_ANGG_TAPD as nilaiAnggaran,
        tmspprincibtlBANTUAN.V_SPP as nilaiSpm
        FROM   TMSP2D T, TRSKPD, TMSPM, tmspprincibtlBANTUAN, TRSKPD TRSKPD2, tmdpabtlbantuan
        WHERE  tmspprincibtlBANTUAN.I_IDSKPDKOORD =  TRSKPD2.I_ID  
        AND TRSKPD.I_ID = T.I_IDSKPD
        AND TMSPM.I_ID = T.I_IDSPM
        and tmspprincibtlBANTUAN.I_IDSPP = TMSPM.I_IDspp
        and tmdpabtlbantuan.I_ID = tmspprincibtlBANTUAN.I_IDBTLBANTUAN        
        and T.I_IDSPM = #{idspm}
        AND T.I_IDSPP = #{idspp}
        AND T.I_IDSKPD = #{idskpd}
        AND T.C_ANGG_TAHUN = #{tahun}
    </select>
    <update id="updateSp2dBantuanLs" parameterType="spp.model.Sp2dLs">
        UPDATE TMSP2D
        SET          
        I_NIP_KBUD = #{nipKbud},
        N_KBUD = #{namaKbud},
        I_PGUN_UBAH = #{idEdit}, 
        D_PGUN_UBAH =  #{tglEdit}
        WHERE  I_ID = #{id}
    </update>
    
    <delete id="deleteSp2dBtlLs" parameterType="spp.model.Sp2dLs" >
        delete TMSP2D WHERE  I_ID = #{id}
    </delete>
    
    <insert id="insertBatalSp2dBtlLs" parameterType="spp.model.Sp2dLs">
        INSERT INTO TMSP2DBATAL (
        I_ID,
        I_IDSPM,
        I_IDSPP,
        C_ANGG_TAHUN,
        I_SP2DNO_DOK,
        I_SP2DNO,
        D_SP2DNO,
        C_WIL_SP2DPROSES,
        N_WIL_SP2DPROSES,
        I_IDSKPD,
        I_NIP_PA,
        I_NRK_PA,
        N_PA,
        N_JABATAN_PA,
        I_NIP_KBUD,
        N_KBUD,
        N_JABATAN_KBUD,
        C_SP2D_CETAK,
        A_JASPER_FILE,
        C_SP2D_CETAKPOT,
        A_JASPER_POT,
        D_SP2D_CETAK,
        C_SP2D_SAH,
        D_SP2D_SAH,
        V_SP2D,
        I_PGUN_REKAM,
        D_PGUN_REKAM,
        I_PGUN_UBAH,
        D_PGUN_UBAH,
        I_PGUN_CETAK,
        D_PGUN_CETAK,
        I_PGUN_SAH,
        D_PGUN_SAH,
        I_JOUR,
        D_JOUR,
        I_JOUR_REV,
        C_JOUR_STAT,
        I_PGUN_JOUR,
        D_REKAM_JOUR,
        V_SPP,
        V_POT_SPM,
        E_ALASAN,
        I_BANO,
        I_PGUN_BATAL,
        D_PGUN_BATAL
        ) 
        ( select  I_ID,
        I_IDSPM,
        I_IDSPP,
        C_ANGG_TAHUN,
        I_SP2DNO_DOK,
        I_SP2DNO,
        D_SP2DNO,
        C_WIL_SP2DPROSES,
        N_WIL_SP2DPROSES,
        I_IDSKPD,
        I_NIP_PA,
        I_NRK_PA,
        N_PA,
        N_JABATAN_PA,
        I_NIP_KBUD,
        N_KBUD,
        N_JABATAN_KBUD,
        C_SP2D_CETAK,
        A_JASPER_FILE,
        C_SP2D_CETAKPOT,
        A_JASPER_POT,
        D_SP2D_CETAK,
        C_SP2D_SAH,
        D_SP2D_SAH,
        V_SP2D,
        I_PGUN_REKAM,
        D_PGUN_REKAM,
        I_PGUN_UBAH,
        D_PGUN_UBAH,
        I_PGUN_CETAK,
        D_PGUN_CETAK,
        I_PGUN_SAH,
        D_PGUN_SAH,
        I_JOUR,
        D_JOUR,
        I_JOUR_REV,
        C_JOUR_STAT,
        I_PGUN_JOUR,
        D_REKAM_JOUR,
        V_SPP,
        V_POT_SPM,
        #{alasanBatal},
        #{noBA},
        #{idEntry},
        sysdate
        from tmsp2d 
        where i_id = #{id}
        and C_ANGG_TAHUN = #{tahun}
        )
    </insert>
    
</mapper>