<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spm.entity.SpmBiayaLsMapper">

    <select id="getAllSpmBiayaLs" parameterType="java.util.Map"  resultType="spp.model.SpmBiayaLs">         
        SELECT   ROWNUM AS rn, I_ID AS idspm,
        I_IDSPP AS id,
        C_ANGG_TAHUN AS tahun,
        I_SPMNO AS noSpm,
        I_SPPNO AS noSpp,
        D_SPMNO AS tglSpm,
        C_JENIS AS kodeJenis,
        C_BEBAN AS kodeBeban,
        I_IDSKPD AS "skpd.idSkpd",
        N_PPTK AS namaPptk,
        I_PPTK_NIP AS nipPptk,
        C_BULAN AS bulan,
        KET AS keterangan,
        N_SKPD AS "skpd.namaSkpd",
        V_SPP AS nilaiSpp
        FROM   (   
        SELECT 
        TMSPM.I_ID,
        TMSPP.I_ID AS I_IDSPP,
        TMSPP.C_ANGG_TAHUN,
        TMSPP.I_SPPNO,
        TMSPP.D_SPPNO,
        TMSPM.I_SPMNO,
        TMSPM.D_SPMNO,
        TMSPP.C_JENIS,
        TMSPP.C_BEBAN,
        TMSPP.I_IDSKPD,
        TMSPP.C_BULAN,
        TMSPM.E_SPM AS KET,
        TRSKPD.N_SKPD,
        TMSPP.I_PPTK_NIP,
        TMSPP.N_PPTK,
        SUM (TMSPPRINCIBIAYA.V_SPP) V_SPP
        FROM  TMSPP , TMSPM, TMSPPCETAK, TMSPPRINCIBIAYA , TRSKPD 
        WHERE TMSPM.I_IDSPP = TMSPP.I_ID                  
        AND TMSPPRINCIBIAYA.I_IDSPP = TMSPP.I_ID
        AND TMSPPCETAK.C_STATUS_CETAK ='1'
        AND TMSPP.I_ID = TMSPPCETAK.I_ID
        AND   TRSKPD.I_ID = TMSPP.I_IDSKPD
        AND  TMSPP.C_BEBAN = 'LS'  
        AND  TMSPP.C_JENIS = '4'
        AND NOT EXISTS (SELECT 1 FROM TMSPMCETAK WHERE   TMSPMCETAK.I_ID = TMSPM.I_ID ) 
        AND TMSPM.I_IDSKPD =  #{idskpd}
        AND TMSPM.C_ANGG_TAHUN = #{tahun}
        GROUP BY    TMSPM.I_ID,
        TMSPP.I_ID ,
        TMSPP.C_ANGG_TAHUN,
        TMSPP.I_SPPNO,
        TMSPP.D_SPPNO,
        TMSPM.I_SPMNO,
        TMSPM.D_SPMNO,
        TMSPP.C_JENIS,
        TMSPP.C_BEBAN,
        TMSPP.I_IDSKPD,
        TMSPP.C_BULAN,
        TMSPM.E_SPM,
        TRSKPD.N_SKPD,
        TMSPP.I_PPTK_NIP,
        TMSPP.N_PPTK,
        TMSPP.I_IDSKPD      
        union all          
        SELECT
        NULL AS I_ID,
        TMSPP.I_ID AS I_IDSPP,
        TMSPP.C_ANGG_TAHUN,
        TMSPP.I_SPPNO,
        TMSPP.D_SPPNO,
        NULL AS I_SPMNO,
        NULL AS D_SPMNO,
        TMSPP.C_JENIS,
        TMSPP.C_BEBAN,
        TMSPP.I_IDSKPD,
        TMSPP.C_BULAN,
        NULL AS KET,
        TRSKPD.N_SKPD,
        TMSPP.I_PPTK_NIP,
        TMSPP.N_PPTK,
        SUM (TMSPPRINCIBIAYA.V_SPP) V_SPP
        FROM  TMSPP ,TMSPPCETAK, TMSPPRINCIBIAYA , TRSKPD 
        WHERE  TMSPPRINCIBIAYA.I_IDSPP = TMSPP.I_ID
        AND TMSPPCETAK.C_STATUS_CETAK ='1'
        AND TMSPP.I_ID = TMSPPCETAK.I_ID
        AND   TRSKPD.I_ID = TMSPP.I_IDSKPD
        AND  TMSPP.C_BEBAN = 'LS'  
        AND  TMSPP.C_JENIS = '4'
        AND NOT EXISTS (SELECT 1 FROM TMSPM WHERE   TMSPP.I_ID = TMSPM.I_IDSPP ) 
        AND TMSPP.I_IDSKPD = #{idskpd}
        AND TMSPP.C_ANGG_TAHUN = #{tahun}
        GROUP BY   
        TMSPP.I_ID ,
        TMSPP.C_ANGG_TAHUN,
        TMSPP.I_SPPNO,
        TMSPP.D_SPPNO,
        TMSPP.C_JENIS,
        TMSPP.C_BEBAN,
        TMSPP.I_IDSKPD,
        TMSPP.C_BULAN,
        TRSKPD.N_SKPD,
        TMSPP.I_PPTK_NIP,
        TMSPP.N_PPTK,
        TMSPP.I_IDSKPD
        )  WHERE ROWNUM &lt;= #{limit} AND ROWNUM &gt; #{offset} ORDER BY I_SPMNO
    </select>
    <select id="getBanyakSpmBiayaLs" parameterType="java.util.Map"  resultType="java.lang.Integer">
        SELECT   COUNT (*) AS banyak FROM (
        SELECT   ROWNUM AS rn, I_ID AS idspm,
        I_IDSPP AS id,
        C_ANGG_TAHUN AS tahun,
        I_SPMNO AS noSpm,
        I_SPPNO AS noSpp,
        D_SPMNO AS tglSpm,
        C_JENIS AS kodeJenis,
        C_BEBAN AS kodeBeban,
        I_IDSKPD AS "skpd.idSkpd",
        N_PPTK AS namaPptk,
        I_PPTK_NIP AS nipPptk,
        C_BULAN AS bulan,
        KET AS keterangan,
        N_SKPD AS "skpd.namaSkpd",
        V_SPP AS nilaiSpp
        FROM   (   
        SELECT 
        TMSPM.I_ID,
        TMSPP.I_ID AS I_IDSPP,
        TMSPP.C_ANGG_TAHUN,
        TMSPP.I_SPPNO,
        TMSPP.D_SPPNO,
        TMSPM.I_SPMNO,
        TMSPM.D_SPMNO,
        TMSPP.C_JENIS,
        TMSPP.C_BEBAN,
        TMSPP.I_IDSKPD,
        TMSPP.C_BULAN,
        TMSPM.E_SPM AS KET,
        TRSKPD.N_SKPD,
        TMSPP.I_PPTK_NIP,
        TMSPP.N_PPTK,
        SUM (TMSPPRINCIBIAYA.V_SPP) V_SPP
        FROM  TMSPP , TMSPM, TMSPPCETAK, TMSPPRINCIBIAYA , TRSKPD 
        WHERE TMSPM.I_IDSPP = TMSPP.I_ID                  
        AND TMSPPRINCIBIAYA.I_IDSPP = TMSPP.I_ID
        AND TMSPPCETAK.C_STATUS_CETAK ='1'
        AND TMSPP.I_ID = TMSPPCETAK.I_ID
        AND   TRSKPD.I_ID = TMSPP.I_IDSKPD
        AND  TMSPP.C_BEBAN = 'LS'  
        AND  TMSPP.C_JENIS = '4'
        AND NOT EXISTS (SELECT 1 FROM TMSPMCETAK WHERE   TMSPMCETAK.I_ID = TMSPM.I_ID ) 
        AND TMSPM.I_IDSKPD =  #{idskpd}
        AND TMSPM.C_ANGG_TAHUN = #{tahun}
        GROUP BY    TMSPM.I_ID,
        TMSPP.I_ID ,
        TMSPP.C_ANGG_TAHUN,
        TMSPP.I_SPPNO,
        TMSPP.D_SPPNO,
        TMSPM.I_SPMNO,
        TMSPM.D_SPMNO,
        TMSPP.C_JENIS,
        TMSPP.C_BEBAN,
        TMSPP.I_IDSKPD,
        TMSPP.C_BULAN,
        TMSPM.E_SPM,
        TRSKPD.N_SKPD,
        TMSPP.I_PPTK_NIP,
        TMSPP.N_PPTK,
        TMSPP.I_IDSKPD      
        union all          
        SELECT
        NULL AS I_ID,
        TMSPP.I_ID AS I_IDSPP,
        TMSPP.C_ANGG_TAHUN,
        TMSPP.I_SPPNO,
        TMSPP.D_SPPNO,
        NULL AS I_SPMNO,
        NULL AS D_SPMNO,
        TMSPP.C_JENIS,
        TMSPP.C_BEBAN,
        TMSPP.I_IDSKPD,
        TMSPP.C_BULAN,
        NULL AS KET,
        TRSKPD.N_SKPD,
        TMSPP.I_PPTK_NIP,
        TMSPP.N_PPTK,
        SUM (TMSPPRINCIBIAYA.V_SPP) V_SPP
        FROM  TMSPP ,TMSPPCETAK, TMSPPRINCIBIAYA , TRSKPD 
        WHERE  TMSPPRINCIBIAYA.I_IDSPP = TMSPP.I_ID
        AND TMSPPCETAK.C_STATUS_CETAK ='1'
        AND TMSPP.I_ID = TMSPPCETAK.I_ID
        AND   TRSKPD.I_ID = TMSPP.I_IDSKPD
        AND  TMSPP.C_BEBAN = 'LS'  
        AND  TMSPP.C_JENIS = '4'
        AND NOT EXISTS (SELECT 1 FROM TMSPM WHERE   TMSPP.I_ID = TMSPM.I_IDSPP ) 
        AND TMSPP.I_IDSKPD = #{idskpd}
        AND TMSPP.C_ANGG_TAHUN = #{tahun}
        GROUP BY   
        TMSPP.I_ID ,
        TMSPP.C_ANGG_TAHUN,
        TMSPP.I_SPPNO,
        TMSPP.D_SPPNO,
        TMSPP.C_JENIS,
        TMSPP.C_BEBAN,
        TMSPP.I_IDSKPD,
        TMSPP.C_BULAN,
        TRSKPD.N_SKPD,
        TMSPP.I_PPTK_NIP,
        TMSPP.N_PPTK,
        TMSPP.I_IDSKPD
        ) )
    </select> 
    <select id="getSpmBiayaLsById" parameterType="java.lang.Integer"  resultType="spp.model.SpmBiayaLs">        
        SELECT   T.I_ID AS id,
        T.C_ANGG_TAHUN AS tahun,
        T.I_SPPNO AS noSpp,
        T.D_SPPNO AS tglSpp,
        T.C_JENIS AS kodeJenis,
        T.C_BEBAN AS kodeBeban,
        T.I_IDSKPD AS "skpd.idSkpd",
        P.N_SKPD AS "skpd.namaSkpd",
        T.N_PPTK AS namaPptk,
        T.N_PPTK AS namaBendahara,
        T.I_PPTK_NIP AS nipPptk,
        T.I_PPTK_NIP AS nipBendahara,
        T.C_UANGMUKA AS kodeUangMuka,
        T.C_BULAN || '/' || T.C_ANGG_TAHUN AS bulan,
        T.E_SPP AS keterangan,
        S.I_SPMNO AS noSpm,
        S.D_SPMNO AS tglSpm,
        null AS noNpwp,
        COALESCE( S.E_SPM, T.E_SPP) AS keteranganSpm,
        T.C_BANK_TRANSFER AS kodeBank,
        T.N_BANK AS namaBank,
        T.N_WP AS namaPenerima,
        T.N_OBJEKPAJAK AS namaYayasan,
        T.I_REK_BANK AS noRekeningSPM ,S.I_ID as idspm
        FROM            TMSPP T
        INNER JOIN
        TMSPPCETAK C
        ON C.I_ID = T.I_ID
        LEFT JOIN
        trskpd p
        ON P.I_ID = T.I_IDSKPD
        LEFT JOIN
        TMSPM S
        ON S.I_IDSPP = T.I_ID
        WHERE   T.I_ID = #{value}
    </select> 
    <select id="getTotalAnggaranSkpd"    parameterType="java.util.Map" resultType="java.math.BigDecimal">
        SELECT   SUM (T.V_ANGG_TAPD)
        FROM    TMDPAKEGIATAN T
        WHERE   T.I_IDSKPD = #{idskpd} AND T.C_ANGG_TAHUN = #{tahun}
    </select>

    <select id="getTotalSPDBySKPDDanTahun"    parameterType="java.util.Map" resultType="java.math.BigDecimal">
        SELECT   NVL (SUM (v_spd), 0)
        FROM   VW_SPDBL_GRID
        WHERE   c_angg_tahun = #{tahun} AND i_idskpd =  #{idskpd}
    </select> 
    <select id="getTotalPaguBySkpd"    parameterType="java.util.Map" resultType="java.math.BigDecimal">
        SELECT   T.V_SPP
        FROM    TRSPPPAGUUP T
        WHERE   T.I_IDSKPD = #{idskpd} AND T.C_ANGG_TAHUN = #{tahun}
    </select>
    <insert id="updateSpmBiayaLsMaster" parameterType="spp.model.SpmBiayaLs"   >         
        UPDATE TMSPM
        SET    
        D_SPMNO      = #{tglSpm}, 
        E_SPM        = REPLACE ( REPLACE (REPLACE (#{keteranganSpm} , CHR(13), ' '), CHR(10), ' '), CHR(9), ' ' )
        WHERE  I_ID         = #{idspm}    
    </insert>
    <select id="getAllSpdBiaya" parameterType="java.util.Map"  resultType="spp.model.SpmBiayaLsRinci">     
 
        SELECT I_ID as idspp,
        C_AKUN as cAkun,
        N_AKUN as nAkun,
        V_SPP as nilaiSpp
        FROM (SELECT ROWNUM AS rn, a.*
        FROM ( SELECT TMSPPRINCIBIAYA.I_ID,
        TRBAS.C_AKUN, 
        TRBAS.N_AKUN,
        TMSPPRINCIBIAYA.V_SPP
        FROM TRBAS , TMSPPRINCIBIAYA
        WHERE
        TMSPPRINCIBIAYA.I_IDBAS = trbas.I_ID 
        AND I_IDSPP = #{idspp}
        ORDER BY TMSPPRINCIBIAYA.I_ID ASC )a )X          
        WHERE ROWNUM &lt;= #{limit} AND rn &gt; #{offset}
    </select>
    <select id="getBanyakSpdBiaya" parameterType="java.util.Map"  resultType="java.lang.Integer">     
        
        SELECT   count(rn )AS total
        FROM   (SELECT   ROWNUM AS rn, a.*
        FROM   ( SELECT  TMSPPRINCIBIAYA.I_ID,
        TRBAS.C_AKUN, 
        TRBAS.N_AKUN,
        TMSPPRINCIBIAYA.V_SPP
        FROM TRBAS , TMSPPRINCIBIAYA 
        WHERE
        TMSPPRINCIBIAYA.I_IDBAS = trbas.I_ID 
        AND I_IDSPP = #{idspp}
        ORDER BY TMSPPRINCIBIAYA.I_ID ASC )a )X   
    </select>
    <insert id="insertSpmBiayaLsMaster" parameterType="spp.model.SpmBiayaLs" useGeneratedKeys="true"  keyColumn="I_ID" keyProperty="idspm" >         
        INSERT INTO  TMSPM (
        I_ID, I_IDSPP, C_ANGG_TAHUN, 
        I_SPMNO, D_SPMNO,  I_IDSKPD,  E_SPM, 
        C_UANGMUKA) 
        VALUES ( SEQ_TMSPM.NEXTVAL,#{id},#{tahun},#{noSpm},#{tglSpm}, #{skpd.idSkpd}
        , REPLACE ( REPLACE (REPLACE (#{keteranganSpm} , CHR(13), ' '), CHR(10), ' '), CHR(9), ' ' )
        ,#{kodeUangMuka} )     
    </insert>  
    <insert id="insertSpmBiayaLsRinci" parameterType="spp.model.SpmBiayaLsRinci"   >  
        INSERT  INTO TMSPMRINCIBL (I_ID,
        I_IDSPM, 
        I_IDSPP,                                
        I_IDBL,
        I_IDKEGIATAN,
        I_IDBAS,
        V_SPM,
        I_PGUN_REKAM,
        D_PGUN_REKAM ) VALUES     
        (   SEQ_I_SPMNO.NEXTVAL ,#{idspm},
        #{idspp},               
        #{idBl},
        #{kegiatan.idKegiatan},
        #{akun.idAkun},
        #{nilaiSpp},
        #{idEntry},
        #{tglEntry})
    </insert>  
</mapper> 